mixin partner()
    
    .layout
        .partner(id='partners')
            .partner_item
                img(src='img/partner1.png' width='124px')
            .partner_item
                img(src='img/partner2.png' width='124px')
            .partner_item
                img(src='img/partner4.png' width='124px')
            .partner_item
                img(src='img/partner1.png' width='124px')
            .partner_item
                img(src='img/partner2.png' width='124px')
            .partner_item
                img(src='img/partner4.png' width='124px')