mixin works()
    .layout
        .works(id='works')
            .works_title
                h1.h1 <span>Featured</span> Works
                p.content_item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis animi, eius culpa.
            .works_gallery
                .gallery_item
                    img(class='img' src='img/gallery_1.jpg')
                .gallery_item
                    img(class='img' src='img/gallery_2.jpg')
                .gallery_item
                    img(class='img' src='img/gallery_3.jpg')
                .gallery_item
                    img(class='img' src='img/gallery_4.jpg')
                .gallery_item
                    img(class='img' src='img/gallery_5.jpg')
                .gallery_item
                    img(class='img' src='img/gallery_6.jpg')
                .gallery_item
                    img(class='img' src='img/gallery_7.jpg')
                .gallery_item
                    img(class='img' src='img/gallery_8.jpg')
                .gallery_item
                    img(class='img' src='img/gallery_9.jpg')