mixin services()
    .layout
        .services(id='services')
            .services_title
                h1.h1 <span>Services</span> We Provide
                p.content_item  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque voluptatibus atque aspernatur.
            .services_content
                .services_icon
                    .icon_item
                        img(src='img/icon_1_4.png' width='65px' height='70px' class='icon_img')
                    .icon_item
                        img(src='img/icon_2.png' width='70px' height='70px' class='icon_img')
                    .icon_item
                        img(src='img/icon_3.png' width='65px' height='70px' class='icon_img')
                    .icon_item
                        img(src='img/icon_1_4.png' width='65px' height='70px' class='icon_img')
                .services_info
                    .info_title Modern App Design
                    .info_text
                        p.content_item.info_item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, iusto impedit. Natus minus est, totam repudiandae consequatur iste culpa unde laudantium corporis velit doloremque sapiente praesentium quidem optio minima amet.
                        p.content_item.info_item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero explicabo eum, ea esse molestias illum, ratione quod.
                        p.content_item.info_item Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    a.button.button-services(href='#') Know More
                .services_img