mixin menu_active()

    .menu_container
        a.menu_item(href='#') Working Process
        a.menu_item(href='#') Featured Works
        a.menu_item(href='#') Services
        a.menu_item(href='#') Team
        a.menu_item(href='#') Clients
        a.menu_item(href='#') Partners