mixin footer()
    .layout
        .footer
            a(href='').button.footer_button Contact Us
            .footer_social
                a(href='#').social_item
                    img(src='img/social_be.png')
                a(href='#').social_item
                    img(src='img/social_dr.png')
                a(href='#').social_item
                    img(src='img/social_tw.png')
                a(href='#').social_item
                    img(src='img/social_be.png')
                span.footer_text 2019 Deviserweb Ltd.